<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <form action="/create" method="post">
    <div class="text-white bg-zinc-900 p-10 w-full h-screen">
        <h1 class="text-2xl mb-4">Register your account</h1>
        <input class="bg-transparent rounded-lg outline-none py-2 px-3 border-2 border-zinc-600 mb-2 mr-2" type="text" name="username" placeholder="username">
        <input class="bg-transparent rounded-lg outline-none py-2 px-3 border-2 border-zinc-600 mb-2 mr-2" type="number" name="age" placeholder="age">
        <input class="bg-transparent rounded-lg outline-none py-2 px-3 border-2 border-zinc-600 mb-2 mr-2" type="email" name="email" placeholder="email">
        <input class="bg-transparent rounded-lg outline-none py-2 px-3 border-2 border-zinc-600 mb-2 mr-2" type="password" name="password" placeholder="password">
        <br>
        <input class="bg-blue-500 rounded-lg outline-none py-2 px-9 mt-4 text-xl mb-5" type="submit" value="Register">
        <br>
        <a class="text-blue-500 mb-5" href="/login">Login your account</a>
    </div>
    </form>
</body>
</html>